*{
    margin:0;
    padding: 0;
}
.header{
height: 50vh;
}
.navbar-header img{
  background-color: transparent;
}
.navbar-style{
    box-shadow: 0 5px #efefef;
}
.logo{
   
    height:48px;
    padding: 2px 10px;
    color: white;
    background: none;
}
.icon-bar{
    background: darkorange;
}
li a{
    color:white;
}
#hero{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  line-height: 3.8;
  font-size: 50px;
  font-weight: bold;
 
  
}
.c-intro__text o-h3 u-color-black{
  margin-top: 0%;
}
.body {
background-image: url("../assets/galimg1.jpg");
background-color:black;
background-position: 0 0;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
top: 10px;
width:100%;
height:250;

text-align: center;
  
  font-weight: bold;
  color: white;
}
.gallary{
    text-align: left;
    display: flex;
    padding-left: 10%;
    font-size: 50px;
   
    font-family: 'Times New Roman', Times, serif;
}
.wrapper{
    font-size: 10px;
}
.big-text{
    
    margin: 20px 0;
}
.wrapper{
    margin-top: 10%;
}
.container-img{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-img2{
    margin-top: 50px;
}
.container-img3{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}
.col-sm-6{
    margin-top: 100px;
    margin-left: 0px;
}
main{ 
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  line-height: 3.8;
  font-size: 50px;
  
  font-weight: bold;
}
a.btn{
  margin: 30px 10px;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
}
a.btn-first{
  background-color:transparent;
  color: orange;
}
footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: rgba(6, 19, 5, 0.63);
  width: 100%;
  padding-top: 10%;
}
.footer >*{
  flex: 1 100%;
}
.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em;
  color: #fff;
  border-image-width: 10px;

}
.footer-left img{
  width: 30%;
}
h2{
  font-weight: 600;
 font-size: 17px;

}
.footer ul{
  list-style: none;
  padding-left: 0;
}
.footer li{
  line-height: 2em;
}
.footer a{
  text-decoration: none;
}
.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;   
}
.footer-right > *{
  flex: 1 50%;
  margin-right: 1.25em;
}
.box a{
color: #999;
font-weight: 600;
 font-size: 17px;
}
.box-contact{
  font-weight: 400;
  font-size: 10px;  
}
.footer-bottom{
  text-align: center;
  color: #999;
  padding-top: 50px;
  background-color: black;
  padding-bottom: 0%;
}
.btn{
    border: 1px solid white;
    background: none;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    align-items: left;
}
.footer-left p{
  padding-right: 20%;
  color: #999;
}
.socials a{
  background-color: #364a62;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}
@media screen and (min-width: 600px) {
  .footer-right > *{
      flex: 1;
  }
  .footer-left{
      flex: 1 0px;
  }
  .footer-right{
      flex: 2 0px;
  }
  
}